Repository renpy/vscode-language-renpy, pull requests merged in 2021-11, with the labels that each got.

#49 Prepare 2.0.3 release
  CHANGELOG.md
  package.json
Labels: release

#55 Default transforms missing from autocomplete list
  CHANGELOG.md
  src/completion.ts
  src/navigation.ts
  src/navigationdata.ts
  src/renpy.json
  src/renpyauto.json
  src/semantics.ts
Labels: enhancement, topic:syntax, topic:completion

#53 fix: folding for label starting with a dot
  CHANGELOG.md
  src/folding.ts
  src/semantics.ts
Labels: bug, topic:folding

#59 Prepare 2.0.4 release
  CHANGELOG.md
  package.json
Labels: release
