Repository renpy/vscode-language-renpy, pull requests merged in 2022-06, with the labels that each got.

#102 New feature: menu statement
  src/tokenizer/debug-decorator.ts
  src/tokenizer/renpy.tokens.ts
  src/tokenizer/token-patterns.ts
  syntaxes/renpy.tmLanguage_2.json
Labels: new feature, topic:syntax

#135 Port back old Ren'Py statements + pause statement
  .vscode/settings.json
  src/tokenizer/token-patterns.ts
  syntaxes/renpy.tmLanguage_2.json
Labels: enhancement, topic:syntax

#138 New feature: Say statements
  syntaxes/renpy.tmLanguage.json
Labels: new feature, topic:syntax

#140 Added default language icon
  package.json
  renpy.svg
Labels: enhancement

#142 Improved patterns (label, call and jump)
  language-configuration.json
  syntaxes/renpy.tmLanguage.json
Labels: enhancement, topic:syntax

#143 New feature: ATL support
  language-configuration.json
  package.json
  snippets/snippets.json
  syntaxes/renpy.python.tmLanguage.json
  syntaxes/renpy.tmLanguage.json
Labels: new feature, topic:syntax

#150 Prepares 2.0.11 release
  CHANGELOG.md
  package.json
Labels: release
