Repository renpy/vscode-language-renpy, pull requests merged in 2022-04, with the labels that each got.

#94 Improves detection of `label`, `transform`, `screen`, `def` and `class`
  CHANGELOG.md
  src/semantics.ts
Labels: enhancement, t:semantic

#100 Improved block capture and keywords
  examples/game/script.rpy
  package.json
  syntaxes/renpy.tmLanguage_2.json
Labels: enhancement, topic:syntax

#105 fix: Don't overwrite the config file
  src/extension.ts
Labels: bug
